body{
    background-color:royalblue;
}
 
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:saddlebrown 5px 5px;
}
 
.note
{
    font-size: 15px;
    color:salmon;
}
 
.copy_right_footer {
    position: fixed;
    color:sandybrown;
    bottom: 0;
    width: 100%;
    background-color:seagreen;
    line-height: 3;
    text-align: left;
}
 
canvas
{
    border:seashell solid;
    border-radius: 20px;
    box-shadow:sienna 5px 5px;
}
